* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(56, 88, 59);
}

.form-main {
  height: auto;
  width: 400px;
  /* background-color: blue; */
  display: flex;
  position: relative;
  text-align: center;
  color: aliceblue;
  margin: auto;
  flex-direction: column;
}
.form {
  position: absolute;
  top: 22vh;
  margin: auto;
  line-height: 2.25rem;
}
.select {
  color: black;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
